<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <script>
    var client = XDomainObjectProxy.client.create('https://localhost:8081/proxy.html');

    var options = {
      location: 'https://api.nasa.gov/planetary',
      path: '/apod',
      qs: {
        'api_key': 'DEMO_KEY'
      }
    }
    client.sendRequest(options).then(function (data){console.log('data returned', data)});
    </script>
  </body>
</html>


